<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="https://img.icons8.com/plasticine/100/000000/g.png" alt="" width="30" height="24"
        class="d-inline-block align-text-top">ig's
      <img src="https://img.icons8.com/plasticine/100/000000/e.png" alt="" width="30" height="24"
        class="d-inline-block align-text-top">vents
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/category/add">Add Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/guest-star/add">Add Guest Star</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/concert/add">Add Concert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/list/concert">List Concert</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/logout">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>