<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Concert</title>
</head>
<body>
    <form action="/home/concert/add" method="post"> <br>
        <label for="name">Name</label> <br>
        <input type="text" name="name"> <br>
        <label for="location">Location</label> <br>
        <input type="text" name="location"> <br>
        <label for="date">Date</label> <br>
        <input type="date" name="date"> <br>
        <label for="price">Price</label> <br>
        <input type="number" name="price"> <br>
        <label for="imageURL">Image URL</label> <br>
        <input type="text" name="imageURL"> <br>
        <button>Add</button>
    </form>
</body>
</html>