<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Bands</title>
</head>
<body>
    <table>
        <tr>
          <th>Number</th>
          <th>Name</th>
          <th>Debut Year</th>
          <th>Image URL</th>
        </tr>
        <% data.artist.forEach(el,i => { %>
          <tr>
            <td><%= i+1 %></td>
            <td><%= el.name %></td>
            <td><%= el.debutYear %></td>
            <td><input type="image" src="<%= el.imageURL %>" height="200" width="200"></td>
          </tr>
        <% }); %> 
      </table>
</body>
</html>